#container {
    display: flex;
    height: 100vh;
}

#row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#flex-item {
    flex: 1;
    flex-grow: 1;
}

.dark {
    background: black;
}