#container {
    display: flex;
    height: 100vh;
}

#row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#flex-item {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 1;
    flex-grow: 1;
}